{% extends "layout.html" %}

{% block title %}
    ホーム
{% endblock %}

{% block main %}

    <div>
        <!--form でflask にデータを渡す-->
        <p>カテゴリで絞る</p>
        <select name="cate" id="pulldown">
            <option value="0">選択してください</option>
            <option value="1">旅行</option>
            <option value="2">ドライブ</option>
            <option value="3">散歩</option>
            <option value="4">趣味</option>
            <option value="5">その他</option>
        </select>
    </div>
    {% if posts|length < 1 %}
        <p>投稿がありません</p>
    {% endif %}
    {% for post in posts %}
        <div class="info">
            <div class="user">
                <img src="../upload/iconimg/{{ post[6]}}" class="posticon">
                <p style="display:inline-block">{{ post[5] }}</p>
            </div>
            <div class="posttime">
                <p>投稿日時：{{ post[3] }}</p>
            </div>
        </div>
        <div class="contents">
            {% if post[0] != None %}
                <p class="goon">{{ post[0]}}</p>
            {% endif %}
            {% if post[2] != None %}
                <img src="../upload/postimg/{{ post[2] }}" width="40%" style="margin-bottom: 10px;">
            {% endif %}
            <p>{{ post[1] }}</p>
        </div>
        <hr class="dash">
    {% endfor %}
{% endblock %}