{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if posts|length < 1 %}
        <p>投稿がありません</p>
    {% endif %}
    {% for post in posts %}
        <div class="info">
            <div class="user">
                <img src="../upload/iconimg/{{ post[6]}}" class="posticon">
                <p style="display:inline-block">{{ post[5] }}</p>
            </div>
            <div class="posttime">
                <p>投稿日時：{{ post[3] }}</p>
            </div>
        </div>
        <div class="contents">
            {% if post[0] != None %}
                <p class="goon">{{ post[0]}}</p>
            {% endif %}
            {% if post[2] != None %}
                <img src="../upload/postimg/{{ post[2] }}" width="40%" style="margin-bottom: 10px;">
            {% endif %}
            <p>{{ post[1] }}</p>
        </div>
        <hr class="dash">
    {% endfor %}
{% endblock %}