{% extends "layout.html" %}

{% block title %}
    マイページ
{% endblock %}

{% block main %}


    {% for user in users %}
        {% if user[1] != None %}
            <img src="./upload/iconimg/{{ user[1] }}" width="20%" class="icon">
        {% else %}
            <img src="./upload/iconimg/icon-default.png" width="20%" class="icon">
        {% endif %}
        <p>ニックネーム：{{ user[0] }}</p>
        <p class="createtime">アカウント作成：{{ user[3] }}</p>
        <p>{{ user[2] }}</p>
        <a class="btn btn-outline-secondary" href="/set" role="button" style="display:block">プロフィール設定</a>
        <hr>
    {% endfor %}

    {% if posts|length < 1 %}
        <p>投稿がありません</p>
    {% endif %}

    {% for post in posts %}
        <div class="info">
            <p class="posttime">投稿日時：{{ post[0] }}</p>
        </div>
            {% if post[0] != None %}
                <p class="goon">{{ post[0] }}</p>
            {% endif %}
            {% if post[2] != None %}
                <img src="../upload/postimg/{{ post[2] }}" width="40%" style="margin-bottom: 10px;">
            {% endif %}
            <p>{{ post[1] }}</p>
        <hr class="dash">
    {% endfor %}


{% endblock %}
