{% extends "layout.html" %}

{% block title %}
    投稿
{% endblock %}

{% block main %}
    <form action="/post" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            <p>投稿カテゴリ</p>
            <select name="cate">
                <option value="0">選択してください</option>
                <option value="1">旅行</option>
                <option value="2">ドライブ</option>
                <option value="3">散歩</option>
                <option value="4">趣味</option>
                <option value="5">その他</option>
            </select>
        </div>
        <div class="mb-3">
            <p>行った日</p>
            <input name="goon" type="date" value="YYYY-MM-DD" class="form=date">
        </div>
        <p>写真</p>
        <div class="mb-3">
            <input class="form-control" type="file" name="imgfile" accept=".jpg,.gif,.png,image/gif,image/jpeg,image/png" style="width:50%; display:revert">
        </div>
        <div class="mb-3">
            <p>投稿内容</p>
            <textarea name="text" class="form-textarea" placeholder="投稿内容を入力してください"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">投稿</button>
    </form>
{% endblock %}
